body{
    line-height: 1.6;
}
.top-bar{
    background-color: #3333331a;
    color: #333333b4;
    margin: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 6px;
}
.top-bar i{
    /* float: left; */
    margin-left: 2px;
    margin-top: 11px;
    padding-left: 41px;
}

.register-btn{
    background: rgba(61, 192, 29, 0.756);
    color: white;
    /* border: solid gray 2px; */
    padding: 5px 10px;
    margin-left: 100px;
    cursor: pointer; 
    margin-top: 23px;
    border-radius: 5px;
}
.register-btn a{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navigation{
    background: rgba(65, 59, 59, 0.609);
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: url(sakshambadole.jpg);
    padding: 80px;
    
}
.header-links{
    display: flex;
    color: rgba(245, 234, 234, 0.703);
    background-color: rgb(39, 40, 41);
    padding: 11px 13px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-links li a{
    color: rgb(158, 155, 151);
    text-decoration: none;
}

.contact{
    margin-left: 90px;
}
.parent1{
    display: flex;
}
li{
    list-style: none;
    padding-left: 19px;
}
.logo{
    display: flex;
    padding-left: 10%;
}
.call{
    margin-left: 350px;
}
.email{
    margin-left: 70px;
}
.about {
    
    color: rgb(11, 10, 10);

}
.about-content h2  {
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 300px;
}
.about-content p{
    font-size: 14px;
    margin-left: 340px;
    /* margin-right: 20px; */
}
.content{
    display: flex;
    padding-bottom: 30px;
}
.stats{
    display: flex;
    justify-content: space-around;
    background-color: rgb(39, 40, 41);
    color: rgb(255, 255, 255);
    padding: 40px 0px;
}
.stat-box{
    text-align: center;
}
.stat-box h3{
    font-size: 24px;
    margin-bottom: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.stat-box p{
    font-size: 13px;
    font-family:'Times New Roman', Times, serif ;
    color: rgb(107, 225, 64);
}
.stat-box i{
    font-size: 32px                 ;
}
.team{
    text-align: center;
    padding: 50px 20px;
}
.team-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.team-member{
    background:#e8e5e5 ;
    padding: 20px;
    border-radius: 5px;

}
.team-member img{
    width: 220px;
    height: 150px;
    border-radius: 5px;
}
footer{
    background-color: rgb(39, 40, 41);
    color: white;
    padding: 30px 0px;
    text-align: center;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-about,.footer-contect,.footer-links{
    width: 30%;
}
.footer-links ul{
    list-style: none;
}
.footer-links ul li{
    margin: 5px;
}
.footer-links ul li a{
    color: white;
    text-decoration: none;
}